#xcode specific
build/*
.DS_Store
*.pbxuser
!default.pbxuser
*.mode2v3
!default.mode2v3
*.mode1v3
!default.mode1v3
*.perspective
*.perspectivev3
*~.nib
#ignore private workspace stuff added by Xcode4
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.xcworkspace
profile
*.moved-aside
DerivedData
.idea/
*.hmap

# gemignore Global/OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
Pods